* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: end;
  background: #F3F8FD;
}
body .main {
  width: 90vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
body .main .nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 53.75vw;
  width: 6.4844vw;
  background: #FFFFFF;
  box-shadow: 0vw 0.4688vw 4.5313vw rgba(196, 203, 214, 0.103611);
  border-radius: 1.875vw;
}
body .main .nav div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 38.125vw;
}
body .main .nav div:first-child .logo {
  background: #3F8CFF;
  border-radius: 0.9375vw;
  width: 3.9063vw;
  height: 3.9063vw;
  margin-top: 2.2656vw;
  margin-bottom: 3.2813vw;
}
body .main .nav div:first-child ul {
  list-style: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  margin-left: 0.8594vw;
  padding-left: 0.7813vw;
}
body .main .nav div:first-child ul li {
  width: 5.625vw;
  display: flex;
  align-items: center;
  height: 3.4375vw;
}
body .main .nav #exit {
  width: 1.875vw;
  height: 1.875vw;
  margin-bottom: 1.875vw;
  margin-left: 1.6406vw;
}
body .main .mindMap {
  height: 53.75vw;
  width: 31.6406vw;
  display: flex;
  flex-direction: column;
}
body .main .mindMap .sTitle {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 1.7188vw;
  color: #7D8592;
  margin-bottom: 0.3906vw;
}
body .main .mindMap .mainTitle {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 2.8125vw;
  line-height: 3.9063vw;
  color: #0A1629;
  margin-bottom: 1.0156vw;
}
body .main .mindMap .paper {
  margin-bottom: 1.5625vw;
  background: #FFFFFF;
  height: 8.2031vw;
  border-radius: 1.875vw;
  display: flex;
  padding: 1.1719vw 1.9531vw 0.9375vw;
  flex-direction: row;
  align-items: center;
  border-radius: 1.1719vw;
  justify-content: space-between;
}
body .main .mindMap .paper .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .main .mindMap .paper .left .top {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-bottom: 1.0938vw;
}
body .main .mindMap .paper .left .top svg {
  width: 3.75vw;
  height: 3.75vw;
  margin-right: 1.3281vw;
}
body .main .mindMap .paper .left .top .paperName {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .main .mindMap .paper .left .top .paperName span:first-child {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 1.0938vw;
  line-height: 1.5625vw;
  color: #91929E;
}
body .main .mindMap .paper .left .top .paperName span:last-child {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 1.4063vw;
  line-height: 2.0313vw;
  color: #0A1629;
}
body .main .mindMap .paper .left .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .main .mindMap .paper .left .bottom svg {
  width: 1.875vw;
  height: 1.875vw;
}
body .main .mindMap .paper .left .bottom span {
  margin-left: 0.7813vw;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 1.0938vw;
  line-height: 1.25vw;
  color: #7D8592;
}
body .main .mindMap .paper .refresh {
  width: 1.875vw;
  height: 1.875vw;
  border: 0;
}
body .main .mindMap .jsmind {
  border-radius: 1.1719vw;
  background-color: #fff;
  flex-grow: 1;
}
body .main .showTopic {
  padding-right: 10px ;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 0.3125vw solid #FFFFFF;
  border-right: 0.7813vw solid #FFFFFF;
  box-shadow: 0vw 0.4688vw 4.5313vw rgba(196, 203, 214, 0.103611);
  backdrop-filter: blur(1.1719vw);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 1.875vw;
  height: 53.75vw;
  width: 51.5625vw;
  padding: 2.4219vw 3.6719vw 5.4688vw 3.2031vw;
  overflow-y: auto;
  overflow-x: hidden;
}
body .main .showTopic .branchTopic {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 1.7188vw;
  line-height: 2.4219vw;
  /* identical to box height */
  color: #0A1629;
  margin-bottom: 1.3281vw;
}
body .main .showTopic .sonTopic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.8906vw;
}
body .main .showTopic .sonTopic .topicName {
  background: #F4F9FD;
  border-radius: 1.0938vw;
  height: 4.0625vw;
  margin-bottom: 2.0313vw;
  display: flex;
  align-items: center;
}
body .main .showTopic .sonTopic .topicName svg {
  margin-left: 1.7188vw;
  margin-right: 1.4844vw;
  width: 1.875vw;
  height: 1.875vw;
}
body .main .showTopic .sonTopic .topicName p {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 1.875vw;
  color: #0A1629;
}
body .main .showTopic .sonTopic .topicContent {
  border-right: 0.4688vw solid #F4F9FD;
  background: #F4F9FD;
  border-radius: 1.0938vw;
  padding: 1.5625vw;
  overflow-y: auto;
  overflow-x: hidden;
}
body .main .showTopic .sonTopic .topicContent .topic {
  height: 1.875vw;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 1.875vw;
  margin-bottom: 1.6406vw;
}
body .main .showTopic .sonTopic .topicContent .content {
  height: 17.2656vw;
  width: 40.8594vw;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 1.875vw;
  color: #0A1629;
}
/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
.scrollbar0 {
  /*定义滚动条轨道
     内阴影+圆角*/
}
.scrollbar0::-webkit-scrollbar {
  width: 0.3906vw;
  background-color: rgba(233, 235, 237, 0);
  border-radius: 0.7031vw;
}
.scrollbar0::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.4688vw rgba(0, 0, 0, 0.3);
  background-color: #e9ebed;
  border-radius: 0.7031vw;
}
.scrollbar0::-webkit-scrollbar-thumb {
  border-radius: 0.7031vw;
  background-color: #3f8cff;
  max-height: 1px;
  max-width: 1px;
}
.scrollbar0::-webkit-scrollbar-button {
  height: 3.9063vw;
}
.scrollbar1 {
  /*定义滚动条轨道
     内阴影+圆角*/
  /*定义滑块
     内阴影+圆角*/
}
.scrollbar1::-webkit-scrollbar {
  height: 21.1719vw;
  background-color: rgba(233, 235, 237, 0);
  width: 0.3906vw;
}
.scrollbar1::-webkit-scrollbar-track {
  border-radius: 0.7031vw;
  background-color: #e9ebed;
  width: 0.3906vw;
}
.scrollbar1::-webkit-scrollbar-thumb {
  height: 7.5781vw;
  border-radius: 0.7031vw;
  background-color: #a5c7fa;
}
.scrollbar1::-webkit-scrollbar-button {
  height: 1.2019vh;
}
